@use "./reset";

.app-container {
  padding: 15px;
}

.search-bar {
  padding: 18px 0 0 10px;
  margin-bottom: 10px;
  background-color: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  box-shadow: var(--el-box-shadow-light);
}

.table-container > .el-card__header {
  padding: calc(var(--el-card-padding) - 8px) var(--el-card-padding);
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32 160 255);
  }
}

.pointer {
  cursor: pointer;
}
.flex-1 {
  flex: 1;
}

.pl-15px {
  padding-left: 15px !important;
}

.adv-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--et-bg-color-primary);

  .adv-tabs {
    height: 100%;
    width: 1000px;
    background-color: #fff;

    .adv-panel {
      height: 100%;
    }
  }
}

.middle-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formdatadialog {
  height: calc(100% - 50px);
  margin: 25px auto;
}
