@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #4080ff,
    ),
    "success": (
      "base": #23c343,
    ),
    "warning": (
      "base": #ff9a2e,
    ),
    "danger": (
      "base": #f76560,
    ),
    "info": (
      "base": #a9aeb8,
    ),
  ),

  $bg-color: (
    "page": #f5f8fd,
  )
);

/** 全局SCSS变量 */

:root {
  --et-menu-background: var(--el-menu-bg-color);
  --et-menu-text: var(--el-menu-text-color);
  --et-menu-active-text: var(--el-menu-active-color);
  --et-menu-hover: var(--el-menu-hover-bg-color);
  --et-sidebar-logo-background: #2d3748;
  --et-color-text-tertiary: #626262;

  // 修复表格 fixed 列被选中后由于透明色导致叠字的 bug
  .el-table {
    --el-table-current-row-bg-color: rgb(235 243 250);
  }
}

/** 暗黑主题 */
html.dark {
  --et-menu-background: var(--el-bg-color-overlay);
  --et-menu-text: #fff;
  --et-menu-active-text: var(--el-menu-active-color);
  --et-menu-hover: rgb(0 0 0 / 20%);
  --et-sidebar-logo-background: rgb(0 0 0 / 20%);
}

$menu-background: var(--et-menu-background); // 菜单背景色
$menu-text: var(--et-menu-text); // 菜单文字颜色
$menu-active-text: var(--et-menu-active-text); // 菜单激活文字颜色
$menu-hover: var(--et-menu-hover); // 菜单悬停背景色
$sidebar-logo-background: var(--et-sidebar-logo-background); // 侧边栏 Logo 背景色

$sidebar-width: 210px; // 侧边栏宽度
$sidebar-width-collapsed: 54px; // 侧边栏收缩宽度
$navbar-height: 50px; // 导航栏高度
$tags-view-height: 40px; // TagsView 高度
$formdata-toolbar-height: 110px; //formdata 列表工具栏高度
