@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #4080ff,
    ),
    "success": (
      "base": #23c343,
    ),
    "warning": (
      "base": #ff9a2e,
    ),
    "danger": (
      "base": #f76560,
    ),
    "info": (
      "base": #a9aeb8,
    ),
  ),

  $bg-color: (
    "page": #f5f8fd,
  )
);

/** 全局SCSS变量 */

:root {
  // 修复表格 fixed 列被选中后由于透明色导致叠字的 bug
  .el-table {
    --el-table-current-row-bg-color: rgb(235 243 250);
  }
}

$menu-background: var(--et-menu-background); // 菜单背景色
$menu-text: var(--et-menu-text); // 菜单文字颜色
$menu-active-text: var(--et-menu-active-text); // 菜单激活文字颜色
$menu-hover: var(--et-menu-hover); // 菜单悬停背景色

$sidebar-width: var(--et-size-210); // 侧边栏宽度
$sidebar-width-collapsed: var(--et-size-45); // 侧边栏收缩宽度
$navbar-height: var(--et-size-50); // 导航栏高度
$tags-view-height: var(--et-size-45); // TagsView 高度
$formdata-toolbar-height: var(--et-size-110); //formdata 列表工具栏高度
