
.fc-form-item .el-input-number,.fc-form-item .el-input,.fc-form-item .el-select,.fc-form-item .et-deparment1,.fc-form-item .et-employee1 {
  width: 100%;
  max-width: 360px;
}

.form-create .form-create .el-form-item {
  margin-bottom: 22px;
}

.form-create {
  width: 100%;
}

.form-create.is-preview .fc-clock,
.form-create .fc-none,
.form-create.is-preview
  .el-form-item.is-required
  > .el-form-item__label-wrap
  > .el-form-item__label:before,
.form-create.is-preview
  .el-form-item.is-required
  > .el-form-item__label:before {
  display: none !important;
}

.fc-wrap-right > .el-form-item__label {
  display: flex;
  justify-content: flex-end;
}

.fc-wrap-left > .el-form-item__label {
  display: flex;
  justify-content: flex-start;
}

.fc-wrap-top.el-form-item {
  display: block;
}

.fc-wrap-top.el-form-item > .el-form-item__label {
  display: block;
  height: auto;
  line-height: 22px;
  margin-bottom: 8px;
  text-align: left;
  font-weight: 600;
}

.el-form--large .fc-wrap-top.el-form-item > .el-form-item__label {
  line-height: 22px;
  margin-bottom: 12px;
}

.el-form--default .fc-wrap-top.el-form-item > .el-form-item__label {
  line-height: 22px;
  margin-bottom: 8px;
}

.el-form--small .fc-wrap-top.el-form-item > .el-form-item__label {
  line-height: 20px;
  margin-bottom: 4px;
}
.fc-form-footer {
  margin-top: 12px;
}

.form-create.is-preview ._fc-read-view.is-empty {
  display: inline-flex;
  width: 100%;
  min-height: 36px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--el-fill-color-light);
  border: 1px solid var(--el-border-color-lighter);
}

.form-create.is-preview .el-input__wrapper,
.form-create.is-preview .el-textarea__inner,
.form-create.is-preview .el-select__wrapper,
.form-create.is-preview .el-input-number,
.form-create.is-preview .el-date-editor.el-input__wrapper,
.form-create.is-preview .el-date-editor .el-input__wrapper,
.form-create.is-preview .el-cascader .el-input__wrapper {
  background-color: var(--el-fill-color-light);
}
