@import "../../common/index.less";

.selected-tags {
  align-content: flex-start;
  border: 1px dashed #dcdfe6;
  display: flex;
  flex-wrap: wrap;
  height: 86px;
  padding: 8px;
  position: relative;

  .el-tag {
    border-radius: 4px;
    padding: 0 8px;
    background-color: transparent !important;
    color: #909399 !important;
    border: 1px solid #dcdfe6 !important;
    
    &.error-tag {
      background-color: #fdeeee !important;
      border-color: #eb5050 !important;
      
      .tag-label {
        color: var(--et-color-error) !important;
      }
    }

    .tag-icon {
      font-size: 16px;
      margin-right: 4px;
      color: #909399 !important;
    }

    .tag-label {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 2px;
      color: #909399 !important;

      &.has-error {
        color: var(--et-color-error) !important;
      }
    }
    
    .el-tag__close {
      color: #909399 !important;
      
      &:hover {
        color: #606266 !important;
        background-color: transparent !important;
      }
    }
  }

  .empty-wrapper {
    align-items: center;
    bottom: 0;
    color: #909399;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

    .empty-text {
      padding-left: 5px;
      font-size: 14px;
    }
  }
}
