@use "../../common/index" as *;

.#{$prefix}-field-perms {
  .field-list-header {
    background-color: var(--et-bg-muted);
    height: var(--et-size-30);
    line-height: var(--et-line-height-30);
    padding: 0 var(--et-space-8);
    position: relative;
    width: 100%;

    .tips {
      color: var(--et-color-danger);
      margin-left: var(--et-space-2);
    }
  }

  .field-view-col {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: absolute;
    top: 0;
    width: var(--et-size-60);
    right: 175px;
  }

  .field-edit-col {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: absolute;
    top: 0;
    width: var(--et-size-60);
    right: 55px;
  }

  .field-list-content-wrapper {
    height: 100%;
    overflow: auto;
    position: relative;
    width: 100%;

    .check-all {
      color: var(--et-color-primary);
      height: var(--et-size-40);
      padding: var(--et-space-8);
      position: relative;
      width: 100%;
    }

    .all-items {
      width: 100%;

      .check-item {
        min-height: var(--et-size-40);
        padding: var(--et-space-8);
        position: relative;

        .check-item-text {
          word-wrap: break-word;
          word-break: break-word;
          max-width: var(--et-size-200);
        }

        .subform-tag {
          align-items: center;
          bottom: 0;
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          position: absolute;
          top: 0;
          right: -8px;
        }

        .subform-button {
          width: var(--et-size-20);
          height: var(--et-size-20);
          padding: var(--et-space-0);
        }

        .subform-icon {
          color: var(--et-text-disabled);
        }
      }
    }
  }
}
