/* stylelint-disable selector-pseudo-element-colon-notation */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable font-family-name-quotes */
@font-face {
  font-family: "iconfont"; /* Project id 5026874 */
  src:
    url("//at.alicdn.com/t/c/font_5026874_ny6y5bns7f.woff2?t=1759477290297") format("woff2"),
    url("//at.alicdn.com/t/c/font_5026874_ny6y5bns7f.woff?t=1759477290297") format("woff"),
    url("//at.alicdn.com/t/c/font_5026874_ny6y5bns7f.ttf?t=1759477290297") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adminFilled:before {
  content: "\e604";
}

.icon-admin:before {
  content: "\e600";
}

.icon-organization:before {
  content: "\e9c8";
}

.icon-ledgerdefault:before {
  content: "\e6d9";
}

.icon-flowdefault:before {
  content: "\e685";
}

.icon-dshdefault:before {
  content: "\e77b";
}

.icon-formdefault:before {
  content: "\e610";
}

.icon-mystarted:before {
  content: "\e646";
}

.icon-appdefault:before {
  content: "\e628";
}

.icon-myapproved:before {
  content: "\e686";
}

.icon-mycced:before {
  content: "\e602";
}

.icon-mytodo:before {
  content: "\e774";
}
