@font-face {
  font-family: "iconfont"; /* Project id 5026874 */
  src: url('iconfont.woff2?t=1769927271964') format('woff2'),
       url('iconfont.woff?t=1769927271964') format('woff'),
       url('iconfont.ttf?t=1769927271964') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
  content: "\e60b";
}

.icon-appdefault:before {
  content: "\e628";
}

.icon-role:before {
  content: "\e7a2";
}

.icon-organization:before {
  content: "\e9c8";
}

.icon-adminFilled:before {
  content: "\e604";
}

.icon-admin:before {
  content: "\e600";
}

.icon-ledgerdefault:before {
  content: "\e6d9";
}

.icon-flowdefault:before {
  content: "\e685";
}

.icon-dshdefault:before {
  content: "\e77b";
}

.icon-formdefault:before {
  content: "\e610";
}

.icon-mystarted:before {
  content: "\e646";
}

.icon-myapproved:before {
  content: "\e686";
}

.icon-mycced:before {
  content: "\e602";
}

.icon-mytodo:before {
  content: "\e774";
}

